
<!-- Outputs the detail results of the chosen movie.-->

<div class="well">
	<img ng-src="{{vm.names.Poster}}">
</div>

<div class="well">Title: 
	<span>{{vm.names.Title}}</span>
</div>

<div class="well">Rate: 
	<span>{{vm.names.Rated}}</span>
</div>

<div class="well">Released Date: 
	<span>{{vm.names.Released}}</span>
</div>

<div class="well">Runtime: 
	<span>{{vm.names.Runtime}}</span>
</div>

<div class="well">Genre: 
	<span>{{vm.names.Genre}}</span>
</div>

<div class="well">Plot: 
	<span>{{vm.names.Plot}}</span>
</div>

<div class="well">Actors: 
	<span>{{vm.names.Actors}}</span>
</div>

<div class="well">Director: 
	<span>{{vm.names.Director}}</span>
</div>

<div class="well">Writer: 
	<span>{{vm.names.Writer}}</span>
</div>
